@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --laranja-um: #ffc107;
  --laranja-um-transparent: #ffc10783;
  --laranja-dois: #cc9a06;
  --laranja-dois-transparent: #cc9a067c;
  --preto-fosco: #212529;
  --vermelho: #e35d6a;
  --azul: #6ea8fe;
  --verde: #75b798;
}

/* cores de texto */
.text-laranja-um {
  color: var(--laranja-um);
}
.text-laranja-dois {
  color: var(--laranja-dois);
}
.text-branco {
  color: white;
}

/* tamanhos de texto */
.text-um {
  font-size: 1.2rem;
}
.text-dois {
  font-size: 1.5rem;
}
.text-tres {
  font-size: 2rem;
}

/* grossuras */
.weigth-semibold {
  font-weight: 500;
}

/* botoes */

.btn-laranja-um {
  background-color: var(--laranja-um);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-laranja-um:hover {
  background-color: var(--laranja-dois);
}

.btn-laranja-dois {
  background-color: var(--laranja-dois);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.btn-laranja-dois:hover {
  transform: scale(1.15);
}

.btn-outline-laranja-um {
  background-color: transparent;
  color: var(--laranja-dois);
  border-radius: 50px;
  border: 2px solid var(--laranja-um);
  cursor: pointer;
}
.btn-outline-laranja-um:hover {
  background-color: var(--laranja-dois);
  border: none;
  color: white;
}

.btn-outline {
  background-color: transparent;
  color: var(--preto-fosco);
  border-radius: 10px;
  border: 2px solid var(--preto-fosco);
  cursor: pointer;
}
.btn-outline:hover {
  background-color: var(--preto-fosco);
  color: white;
}

/* inputs */
.input-reserva {
  color: var(--preto-fosco);
  border-radius: 10px;
  border: 2px solid var(--laranja-dois);
  padding: 8px;
  width: 100%;
}
.input-reserva:focus {
  outline: none;
  border: 2px solid var(--laranja-um);
}

@media screen and (max-width: 990px) {
  .responsivo {
    flex-direction: column !important;
    align-items: center !important;
  }

  .conteudo {
    width: 100% !important;
  }
}