* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --laranja-um: #ffc107;
  --laranja-dois: #cc9a06;
  --preto-fosco: #212529;
}

.text-laranja-um {
  color: var(--laranja-um);
}

.text-laranja-dois {
  color: var(--laranja-dois);
}

.btn-laranja-um {
  background-color: var(--laranja-um);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-laranja-um:hover {
  background-color: var(--laranja-dois);
}